

---


***11 best Warriors who will defeat our enimies-"The Unknown Terror" and save our homes***



---


*   our warrior team "**PSY-poision**", should be able to score at least 180 runs on an average.
*   our team should be able to defend 150 runs on an average

# **planning for selection of warriors:**

**Opener-Warriors**

PARAMETERS   ----------------------------------         DESCRIPTION  ---------------------------------                        CRITERIA

* Batting Average                                                   Average runs scored in an innings

# Data collection

# match summary

In [55]:
import pandas as pd
import json
import numpy as np
'''with open('/content/drive/MyDrive/Business Analyst Projects/t20_wc_match_results.json') as JS:
 data = json.load(JS)

pd.DataFrame(data[0]['matchSummary'])'''
data = pd.read_json('/content/drive/MyDrive/Business Analyst Projects/t20_wc_match_results.json')
matchSummary = pd.DataFrame(data['matchSummary'][0])
matchSummary.rename({'scorecard':'match_ID'}, axis= 1, inplace =True )

# Batting Summary

In [56]:
#'''jason_file = pd.Series(pd.read_json('/content/drive/MyDrive/Business Analyst Projects/t20_wc_batting_summary.json')['battingSummary'].str[0]).to_dict()
#pd.json_normalize(jason_file)
#pd.DataFrame(jason_file).transpose()'''

#jason_file = pd.Series(pd.read_json('/content/drive/MyDrive/Business Analyst Projects/t20_wc_batting_summary.json')['battingSummary'].str[0]).to_dict().values()
#batting_Summary = pd.json_normalize(jason_file)
#batting_Summary
data = pd.read_json('/content/drive/MyDrive/Business Analyst Projects/t20_wc_batting_summary.json')
Team_detail = []
for i in data['battingSummary']:
  for j in i:
    Team_detail.append(j)

battingSummary1 = pd.DataFrame(Team_detail)

In [57]:


battingSummary1.info()
# no missing info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        699 non-null    object
 1   teamInnings  699 non-null    object
 2   battingPos   699 non-null    int64
 3   batsmanName  699 non-null    object
 4   dismissal    699 non-null    object
 5   runs         699 non-null    object
 6   balls        699 non-null    object
 7   4s           699 non-null    object
 8   6s           699 non-null    object
 9   SR           699 non-null    object
dtypes: int64(1), object(9)
memory usage: 54.7+ KB

In [58]:
# making Dismissal colum in two category-  OUT / NOT OUT
#dismissal has no NULL value
def OUT_NOTOUT(x):
  if len(x) > 0:
    return 'Out'
  else:
    return 'Not-Out'

    

battingSummary1['dismissal'] = battingSummary1['dismissal'].apply(OUT_NOTOUT) #.apply(OUT_NOTOUT)[7]
battingSummary1

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,Out,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,Out,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,Out,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,Out,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),Out,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,Out,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,Not-Out,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,Out,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,Out,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,Not-Out,1,1,0,0,100.00

In [59]:
# batsman name hace mny special charater and brckets like (c) which means they are captain, i do't want this
# lets remmove them

battingSummary2= battingSummary1['batsmanName'].str.replace('\(.+\)+|†+', '', regex = True) 
battingSummary2

0          Michael van Lingen
1               Divan la Cock
2      Jan Nicol Loftie-Eaton
3               Stephan Baard
4             Gerhard Erasmus
                ...
694                 Phil Salt
695                Ben Stokes
696               Harry Brook
697                 Moeen Ali
698          Liam Livingstone
Name: batsmanName, Length: 699, dtype: object

In [60]:
battingSummary1['batsmanName'] = battingSummary2
# i need to merge both the table  batting and math 
# but the batting has no id ,
# we can take match id from match table then put in batting , then we can merge them
# but the problem is tha name of team can be is reverse order like team1 vs team2 , or team3 vs team 1
test ={}
for i in range(len(matchSummary['team1'])):
  key1 = matchSummary['team1'][i]+' '+'Vs'+' '+matchSummary['team2'][i]
  key2 = matchSummary['team2'][i]+' '+'Vs'+' '+matchSummary['team1'][i]
  
  test[key1] = matchSummary['match_ID'][i]
  test[key2] = matchSummary['match_ID'][i]
 

test

battingSummary1['match_ID'] = battingSummary1['match'].apply(lambda x: test[x])

battingSummary1

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,match_ID
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,Out,3,6,0,0,50.00,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,Out,9,9,1,0,100.00,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,Out,20,12,1,2,166.66,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,Out,26,24,2,0,108.33,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,Out,20,24,0,0,83.33,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,Out,10,9,2,0,111.11,T20I # 1879
695,Pakistan Vs England,England,4,Ben Stokes,Not-Out,52,49,5,1,106.12,T20I # 1879
696,Pakistan Vs England,England,5,Harry Brook,Out,20,23,1,0,86.95,T20I # 1879
697,Pakistan Vs England,England,6,Moeen Ali,Out,19,13,3,0,146.15,T20I # 1879
698,Pakistan Vs England,England,7,Liam Livingstone,Not-Out,1,1,0,0,100.00,T20I # 1879

# Bowling Summary

In [61]:
bowling_summary = pd.read_json('/content/drive/MyDrive/Business Analyst Projects/t20_wc_bowling_summary.json')
bowling_detail = []
for i in bowling_summary['bowlingSummary']:  # loadinf the json file
  for j in i:
    bowling_detail.append(j)

bowling_summary = pd.DataFrame(bowling_detail)
bowling_summary
# bowlers name looks fine so need to clean here

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [62]:
# i need to merge both the table batting and math 
# but the bowling has no id ,
# we can take match id from match table then put in bowling , then we can merge them
# but the problem is tha name of team can be is reverse order like team1 vs team2 , or team3 vs team 1
bowl ={}
for i in range(len(matchSummary['team1'])):
  key1 = matchSummary['team1'][i]+' '+'Vs'+' '+matchSummary['team2'][i]
  key2 = matchSummary['team2'][i]+' '+'Vs'+' '+matchSummary['team1'][i]
  
  bowl[key1] = matchSummary['match_ID'][i]
  bowl[key2] = matchSummary['match_ID'][i]
 

bowl

bowling_summary['match_ID'] = bowling_summary['match'].apply(lambda x: bowl[x])

bowling_summary

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_ID
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0,T20I # 1879
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0,T20I # 1879
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0,T20I # 1879
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0,T20I # 1879
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879

#Player info

In [63]:
player_info = pd.read_json('/content/drive/MyDrive/Business Analyst Projects/t20_wc_player_info.json')
player_info
#the name column has many special characters , need cleaning

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva(c)†,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

In [64]:
# removing special charactres
player_info['name'] = player_info['name'].str.replace('[!@#$%^&*()†]+', '', regex = True)

# exporting the table in csv

In [65]:
player_info.to_csv('player_info.csv')
bowling_summary.to_csv('bowling_summary.csv')
battingSummary1.to_csv('battingSummary.csv')
matchSummary.to_csv('matchSummary.csv')

In [66]:
bowling_summary['bowlerName'].duplicated().sum()

368